
<html>
	<head>
			<meta charset="utf-8"/>
	        <meta name="viewport" content="width=device-width, initial-scale=1">
	        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	        <link rel="stylesheet" href="style.css">

		<title>devOr</title>
	</head>
	<body>
		<div class="container site">
            <nav>
                <ul class="nav nav-pills nav-justified"><!-- signin/signup -->
                	<li role="presentation" class="active"><a href="#acc" data-toggle="tab">Accueil</a></li>
                	<li role="presentation" class=""><a href="#gato" data-toggle="tab">Gâteaux</a></li>
                	<li role="presentation" class=""><a href="#bois" data-toggle="tab">Boissons</a></li>
                    <li role="presentation" class=""><a href="#vienne" data-toggle="tab">Viennoiseries</a></li>
                   
                </ul>
            </nav>

            <div class="tab-content">
    			<div class="tab-pane active" id="acc">
        			<div class="row" >
            			<div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="/layout/images/an1.png" alt="aniv">
                                <div class="price">12.000F</div>
                                <div class="caption">                                    
                                    <p>anniversaire</p>
                                     <a href="/formdevOr" target="_blank" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="./images/au1.jpg" alt="...">
                                <div class="price">7.000F</div>
                                <div class="caption">                                    
                                    <p>Tous types de fêtes</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/bg.jpg" alt="...">
                                <div class="price">17.000F</div>
                                <div class="caption">                                    
                                    <p>Ceremonies</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/fi1.jpg" alt="...">
                                <div class="price">25.000F</div>
                                <div class="caption">                                    
                                    <p>Fiançailles</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/gl1.jpg" alt="...">
                                <div class="price">12.000F</div>
                                <div class="caption">                                    
                                    <p>Glâces</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/sm6.jpg" alt="...">
                                <div class="price">3.000F</div>
                                <div class="caption">                                    
                                    <p>Smoothies</p>
                                    <a href="formdeVor" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane" id="gato">
                	<div class="row">
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/an2.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/an3.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/an4.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/au1.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/au2.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/au3.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/fi1.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/fi2.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/fi3.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/ma1.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/ma2.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>
                		<div class="col-sm-6 col-md-4">
                    		<div class="thumbnail">
                        		<img src="images/ma3.jpg" alt="...">
                            	<div class="price">5.90 €</div>
                            	<div class="caption">
	                                
	                                <p>Gâteaux</p>
	                                <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                            	</div>
                    		</div>
                		</div>


                	</div>
                </div>

                <div class="tab-pane" id="bois">
                	<div class="row">
                		<div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/gl2.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                       	<div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/gl3.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/gl4.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/sm1.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/sm2.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/sm3.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/ya1.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/ya2.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/ya3.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/gl4.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/sm4.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/ya4.jpg" alt="...">
                                <div class="price">3.90 €</div>
                                <div class="caption">
                                    
                                    <p> Boissons</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane" id="vienne">
                	<div class="row">
                		<div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/vi1.jpg" alt="...">
                                <div class="price">8.000F CFA</div>
                                <div class="caption">
                                   
                                    <p> Viennoiseries</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                       	<div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/vi2.jpg" alt="...">
                                <div class="price">8.000F CFA</div>
                                <div class="caption">
                                    
                                    <p> Viennoiseries</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/vi3.jpg" alt="...">
                                <div class="price">8.000F CFA</div>
                                <div class="caption">
                                    
                                    <p> Viennoiseries</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/vi4.jpg" alt="...">
                                <div class="price">8.000F CFA</div>
                                <div class="caption">
                                    
                                    <p> Viennoiseries</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/vi5.jpg" alt="...">
                                <div class="price">8.000F CFA</div>
                                <div class="caption">
                                    
                                    <p> Viennoiseries</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/vi6.jpg" alt="...">
                                <div class="price">8.000F CFA</div>
                                <div class="caption">
                                    
                                    <p> Viennoiseries</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/vi7.jpg" alt="...">
                                <div class="price">8.000F CFA</div>
                                <div class="caption">
                                    
                                    <p> Viennoiseries</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/vi8.jpg" alt="...">
                                <div class="price">8.000F CFA</div>
                                <div class="caption">
                                    
                                    <p> Viennoiseries</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="images/vi9.jpg" alt="...">
                                <div class="price">8.000F CFA</div>
                                <div class="caption">
                                   
                                    <p> Viennoiseries</p>
                                    <a href="#" class="btn btn-order" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Commander</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
                
        </div>
        
    
    </body>